/* Estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* Fuente moderna */

}

header,
#galeria,
#descripcion,
footer {
  padding: 20px;
}

/* Estilos para el menú de navegación */
nav {
  background-color: #ffffff;
  /* Fondo blanco para el menú */
  box-shadow: 0 2px 4px rgba(231, 198, 101, 0.45);
  /* Sombra sutil */
  font-size: 1rem;
}

nav ul {
  list-style-type: none;
  height: 50px;
  /* Altura fija para la barra de navegación */
  line-height: 50px;
  /* Alinea verticalmente los enlaces */
  text-align: center;
}

nav ul li {
  display: inline-block;
  /* Elementos en línea pero con propiedades de bloque */
  margin-right: 20px;
  /* Espaciado entre elementos del menú */
}

nav ul li a {
  color: #333;
  /* Color oscuro para el texto */
  text-decoration: none;
  padding: 8px 15px;
  /* Espaciado alrededor del texto */
  border-radius: 5px;
  /* Esquinas redondeadas */
  transition: background-color 0.3s;
  /* Transición suave para el efecto hover */
}

nav ul li a:hover,
nav ul li a:focus {
  background-color: #e7c665;
  /* Color de fondo al pasar el ratón o enfocar */
}

/* Responsividad */
@media (min-width: 768px) {

  /* Estilos para pantallas grandes */
  nav {
    /* Esto podría convertirse en un diseño de barra lateral, por ejemplo */
  }

  #galeria {
    /* Estilos para la galería de imágenes para que se muestren en fila */
  }
}

@media (max-width: 767px) {
  nav ul li {
    display: block;
    /* Elementos en bloque para menú vertical */
    margin: 0;
  }

  nav ul li a {
    display: block;
    width: 100%;
    /* Los enlaces ocupan todo el ancho disponible */
    text-align: left;
    /* Alineación del texto a la izquierda */
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    /* Línea divisoria entre elementos */
  }

  nav ul li:last-child a {
    border-bottom: none;
    /* No mostrar la línea en el último elemento */
  }

  #galeria {
    /* Las imágenes podrían mostrarse en una sola columna */
  }
}